<footer class="main-footer">
    <div class="footer-content">
        <div class="footer-zing">
            <img src="img/zing-footer.png">
        </div>
      
        <p class="foot-p">Zing is an animation library created for easy use by beginners with little or no knowledge of
            programming. The efforts of a team of developers and product designers have carefully crafted
            this
            library to use normal language to make the cognitive process even faster</p>
        <div class="copy">
        <p class="copyright">&copy;2022 Zing Animations. All Rights Reserved.</p> 
        </div> 
    </div>
    <div>
        <ul class="footer-list2">
            <h4 class="hea">Product</h4>
            <li class="list-item"><a href="#">Documentation</a></li>
            <li class="list-item"><a href="#">About</a></li>
            <li class="list-item"><a href="#">Contact us</a></li>
        </ul>
        
    </div>
   
    <div class="social">
        <h4 class="hea">Follow Us</h4>
        <div class="icons">
        <img src="img/facebook.png">
        <img src="img/insta.png">
        <img src="img/twitter.png">
       </div>
       
    </div> 
</footer>