@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');



*{
    padding: 0;
    margin: 0;
    box-sizing:border-box;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
}

/* CSS for Nav header */


.navwrap{
    position: sticky;
    display: flex;    
    flex-direction: row;
    gap: 74px;
    align-items: center;
    width: 100%;
    height: 120px;
    left: 0px;
    top: 0px;
    background: #FFFFFF;
    box-shadow: 0px 2px 16px rgba(0, 0, 0, 0.12);
    z-index: 1;
}

.logowrapper{
    display: flex;
    flex-direction: row;
    align-items: center;
    /* width: 177px; */
    height: 60px;
    padding-left: 90px;
}

.logo{
    padding-right: 10px;
}

.zinglogo, .avatar{
    display: inline-block;
    background: #FFFFFF;
    box-shadow: 0px 4px 16px rgba(20, 2, 46, 0.05);
    border-radius: 36px;
    padding: 12px;
    gap: 10px;
    color: rgb(143, 69, 177); 
    height: 2F0px;
    width: 20px;
}

.logotxt{
    width: 104px;
    height: 60px;
    font-family: 'Sora';
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 60px;
    letter-spacing: -0.05em;
    color: #333333;
}

.menu{
    display: flex;
    flex-direction: row;
    font-family: 'Euclid Circular A';
}
.menu-wrap{
    
}
.home, .doc, .download, .explore, .about {
    font-family: 'Euclid Circular A';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #333333;
    padding: 20px;
    text-decoration: none;
}
.home{
    color: #B721FC;
} 

.home:hover, .doc:hover, .download:hover, .explore:hover, .about:hover {
    color: #B721FC;
}

.input{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    width: 400px;
    height: 40px;
}

input{
    border: 1px solid gray;
    border-radius: 5px; 
}

.search, .signupbtn, .loginbtn{
    padding: 0px;
    width: 180px;
    height: 40px;
}

.signupbtn{
    border: 0px;
    background: linear-gradient(143.86deg, #B721FC 17.85%, #21D4FD 151.11%), linear-gradient(127.39deg, #B721FC 7.68%, #21D4FD 105.82%);
}
.loginbtn{
    color: #B721FC;
    border: none;
    background: #FFFFFF;
}




 /* CSS for main */
 .like-h2{
    font-size: 48px;
    font-weight: 400;
    color: #333333;
    margin-left: 93px;
    padding-top: 50px;
 }
 .look{
    display: flex;
    font-size: 48px;
    color: #333333;
    width:  70%;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-left: 210px;
    padding-top: 50px;
 }
 .look-p{
    display: flex;
    color: #777777;
    font-size: 16px;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
 }
 .see{
    display: flex;
    margin-top: 60px;
    margin-left: 600px;
    font-size: 16px;
    justify-content: center;
    align-items: center;
    border-radius: 7px;
    border: 1px solid;
    color: #E6EAEE;
    background: linear-gradient(143.86deg, #B721FC 17.85%, #21D4FD 151.11%);
    height: 55px;
   width: 200px;
   text-align: center;
 }
 .see-txt{
    color: #E6EAEE;
    font-size: 18px;
 }



