@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing:border-box;
    text-decoration: none;
}



body{
    /* display: flex;
    align-items: center; */
    font-family: Euclid Circular A Bold;
    /* font-family: 'Open Sans', sans-serif; */
}

.a1{
  font-family: 'Open Sans', sans-serif;
  font-weight: 500;
  font-size: 32px;
  line-height: 41px;
  color: #333333;

}

.a2{
    padding-top: 5px;
  padding-left: 14px;
}


  input[type=text], input[type=password] {
  width: 50%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* Set a style for all buttons */
.create-btn{
  background-color: #B721FC;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 50%;
  opacity: 0.9;
}

button:hover {
  opacity:1;
}
.goggle{
  width:30%;
  height: 20px;
}
.fb{
  width:20px;
  height: 20px;
  padding-right: 15px;
}

.go-btn{
 width: 30%;
 border-radius: 4px;
}
