@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

/* NAVBAR */

*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif, sans-serif;
}

header{
    
    width: 100%;
    height: 120px;
    top: 0px;
    font-family: "Poppins", sans-serif;
    background: #FFFFFF;
    position: sticky;
    display: flex;    
    flex-direction: row;
    box-shadow: 0px 2px 16px rgba(0, 0, 0, 0.12);
    z-index: 1;
}
.navwrap{
    position: sticky;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0px 100px;
    gap: 33px;
    background:#FFFFFF;
}

.navwrapp{
    position: sticky;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0px 93px;
    gap: 33px;
    background:#FFFFFF;
}

.logowrapper{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    width: 177px;
    height: 60px;
}

.menu{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 20px;
    height: 40px;
}

.home, .doc, .download, .explore, .about {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 20px;
    color: #333333;
    margin: 15px;
    text-decoration: none;
}

.explore{
    display: flex;
}
.exp{
    margin-top: 5px;
}

.clickk{
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 8px;
}

.clickk:hover{
    transform: 0.3s;
}

.listt{
    position: relative;
    transform: scaleY(0);
    transform-origin: top;
    transition: 0.3s;
    display: flex;
    flex-direction: column;
    background: #FFFFFF ;
    
}

.newlistt{
    transform: scaleY(1);
}
.linkz{
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 8px;
    margin-left:-160px;
    margin-top: 30px;
    border: none;
    background-color: #FFFFFF;
}

.linkzz{
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 8px;
    margin-left:-160px;
    margin-top: 10px;
    border: none;
    background-color: #FFFFFF;
}

.linkzz:hover, .linkz:hover{
    background-color: #B721FC;
    transform: 0.3s;
}

.button{
    background: white;
    border-radius: 4px;
    border: 1px solid;
    color: black;
    font-weight: 600; 
    gap: 40px;
    background-color: #FFFFFF;
    border: 1px solid;
    border-top-color: #B721FC;
    border-bottom-color: #21D4FD;
    border-left-color: #B721FC;
    border-right-color: #21D4FD;
}

.butt{
    
   
    border-radius: 8px;
    border: 1px solid #CBCBCB;
    color: black;
    font-weight: 600;
    width: 126px;
    height: 34px;
}

button{
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;

    border-radius: 8px;
    border: 1px solid #CBCBCB;
    color: black;
    font-weight: 600;
    width: 176px;
    height: 54px;
}

.home:hover, .doc:hover, .download:hover, .explore:hover, .about:hover {
    color: #B721FC;
}

.input{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 5px;
    height: 40px;
}

.searchh{
    display: flex;
}

.search{ 
    border: 1px solid rgba(187, 187, 187, 1);
    border-radius: 6px;
    background-color: white;
    height: 40px;
    padding-left: 20px;
}

.help{
    color: gray;
}

.icon{
    position: absolute;
    margin-left: 10px;
    margin-top: 15px;
    z-index: 1;
    color: gray;
    background-color: white;
    font-size: small;
}

.loginbtn{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 78px;
    height: 40px;
    border-radius: 6px;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0em;
    color: #B721FC;
    border: none;
    background: #FFFFFF;
}

.signupbtn{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 78px;
    height: 40px;
    border-radius: 6px;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0em;
    color: #FFFFFF;
    border: none;
    background: linear-gradient(143.86deg, #B721FC 17.85%, #21D4FD 151.11%);
}

.fa-plus, .fa-arrows-rotate,
.fa-bookmark, .fa-heart, 
.fa-comment{
    background: #FFFFFF;
    box-shadow: 0px 4px 16px rgba(20, 2, 46, 0.05);
    border-radius: 36px;
    padding: 4px;
    gap: 10px;
    color: rgb(143, 69, 177);  
}

.fa-user{
    background: #FFFFFF;
    box-shadow: 0px 4px 16px rgba(20, 2, 46, 0.05);
    border-radius: 24px;
    padding: 10px;
    margin-left: 10px;
    color: #B721FC;
    border: 1px solid #B721FC;
}

.beside{
    margin-top: 10px;
    margin-left: 5px;
    color: #6C6767;
}

/*BODY*/
body {
	background-color: white;
	color: black;
	font-family: 'Poppins', sans-serif;
}

.downloadd {
	display: flex;
	justify-content: space-between;
	margin: 200px;
    margin-top: 120px;
}


h1 {
	font-size: 40px;
	line-height: 50px;
}

p {
	font-size: 14px;
	margin-top: 20px;
    padding-bottom: 20px;
    color: #999999;
}

.btn1{
    width: 200px;
    justify-content: space-between;
    background: linear-gradient(143.86deg, #B721FC 17.85%, #21D4FD 151.11%);
    color: white;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 10px;
    font-size: 12px;
}

.btn2{
    width: 200px;
    justify-content: space-between;
    border: 1px solid #B721FC;;
    border-radius: 5px;
    padding: 10px;
    font-size: 12px;
    color: #B721FC;
}

.downloadconfirm{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}

.picc{
    height: 100px;
}

h2{
    font-weight: 600;
    font-size: 40px;
    margin-top: 20px;
    
    
}

.buttonn{
    margin-top: 20px;
    padding: 10px;
    color: white;
    background: linear-gradient(143.86deg, #B721FC 17.85%, #21D4FD 151.11%), linear-gradient(127.39deg, #B721FC 7.68%, #21D4FD 105.82%);
    border: 1px solid gray;
    border-radius: 5px;
}


.theweb{
    font-size: large;
    color: #999999;
}
/*.box {
    
}*/

.pic{
    height: 300px;
    margin-top: -40px;
}
