*{
    margin: 0;
    padding: 0;
    font-family: 'Euclid Circular A', 'Sora', sans-serif;
}

.navwrap{
    position: sticky;
    display: flex;    
    flex-direction: row;
    gap: 74px;
    align-items: center;
    width: auto;
    height: 120px;
    left: 0px;
    top: 0px;
    background: #FFFFFF;
    box-shadow: 0px 2px 16px rgba(0, 0, 0, 0.12);
}

.logowrapper{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 177px;
    height: 60px;
    padding-left: 110px;
}

.logo{
    padding-right: 10px;
}

.zinglogo, .avatar{
    display: inline-block;
    background: #FFFFFF;
    box-shadow: 0px 4px 16px rgba(20, 2, 46, 0.05);
    border-radius: 36px;
    padding: 12px;
    gap: 10px;
    color: rgb(143, 69, 177); 
    height: 2F0px;
    width: 20px;
}

.logotxt{
    width: 104px;
    height: 60px;
    font-family: 'Sora';
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 60px;
    letter-spacing: -0.05em;
    color: #333333;
}

.menu{
    display: flex;
    flex-direction: row;
    font-family: 'Euclid Circular A';
}

.home, .doc, .download, .explore, .about {
    font-family: 'Euclid Circular A';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #333333;
    padding: 20px;
    text-decoration: none;
}

.home:hover, .doc:hover, .download:hover, .explore:hover, .about:hover {
    color: #B721FC;
}

.input{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

input{
    border: 1px solid gray;
    border-radius: 5px; 
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.search{
    padding-left: 5px;
    padding-right: 5px;
}

.signupbtn{
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    border: 0px;
    background: linear-gradient(143.86deg, #B721FC 17.85%, #21D4FD 151.11%), linear-gradient(127.39deg, #B721FC 7.68%, #21D4FD 105.82%);
}
.loginbtn{
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: #B721FC;
    border: none;
    background: #FFFFFF;
}

/*BODY*/
body {
	background-color: white;
	color: black;
	font-family: 'Poppins', sans-serif;
}

.downloadd {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	margin: 0;
	
    padding-top: 120px;
}


h1 {
	font-size: 40px;
	line-height: 50px;
}

p {
	font-size: 14px;
	padding-top: 20px;
    padding-bottom: 20px;
    color: gray;
}

.btn1{
    width: 200px;
    justify-content: space-between;
    background: linear-gradient(143.86deg, #B721FC 17.85%, #21D4FD 151.11%);
    color: white;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 10px;
    font-size: 12px;
}

.btn2{
    width: 200px;
    justify-content: space-between;
    border: 1px solid #B721FC;;
    border-radius: 5px;
    padding: 10px;
    font-size: 12px;
    color: #B721FC;
}

/*.box {
    
}*/

.pic{
    height: 300px;
    margin-top: -40px;
  
}
